.slides{
	position : relative;
}

.slides_container {
    width:792px;
    overflow:hidden;
		position:relative;
		margin: 0 auto;
}

.slides .slides_container .slide {
    width:792px;
    height:381px;
    display:block;
    margin: 0 auto;
}

.slides .slides_container a {
	width:792px;
	height:381px;
	display:block;
}

.slides .slides_container a img {
	display:block;
}

.gallery3 .slide_picture{
	width : 254px;
	height : 381px;
	float : left;
	z-index : 1;
	position : relative;
}

.gallery2 .slide_picture{
	width : 387px;
	height : 381px;
	float : left;
	z-index : 1;
	position : relative;
}

.gallery1 .slide_picture{
	width : 792px;
	height : 381px;
	float : left;
	z-index : 1;
	position : relative;
}

.slide_picture .like{
	position : absolute;
	bottom : 10px;
	right : 10px;
}

.slides .next,.slides .prev{
	position:absolute;
	top:179px;
	width:32px;
	height:32px;
	display:block;
}

.slides .prev, .slides .next{
	background : url('../../img/icons/arrow.png') no-repeat top left;
}

.slides .prev{
	left : 0;
	background-position: 0 0;
}

.slides .next{
	right : 0;
	background-position: -32px 0;
}

.slides .prev:hover, .slides .next:hover{
	opacity : 0.8;
}

/**********************************
************ SLIDES  **************
***********************************/
.slides_control_2 {
    height:381px;
    position : absolute;
}

.slides_control_2 a{
		display:block;
    height:381px;
}

/**********************************
************ SLIDES HOME  **************
***********************************/
.slides_container_home{
	width : 600px;
	height : 400px;
	overflow : hidden;
	z-index : 1;
	margin : 0 auto;
}