/**
* GLOBALS CSS a2w
* @copyright Julien Guion
*/

/**************** Généralités */
:link,:visited{
	text-decoration : none;
}

ul{
	list-style : none;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ 
	margin : 0;
	padding : 0;
}

a img,:link img,:visited img {
	border : none;
}

a:hover{
	text-decoration : none;
}

/* Supprimer les flottants */
.clear{
	clear : both;
}

/* Cacher un element */
.hide{
	display : none;
}

/********* transformation */
.bold{ font-weight : bold;}
.italic{font-style : italic;}

/********* color texte */
.color-white{ color : #fff; }
.color-black{ color : #000; }

/* TABLE */
.myTable{
	width : 100%;
	border-collapse : collapse;
	text-align : center;
	border : 1px solid #ccc;
}

.myTable th{
	padding : 5px;
	background : #ccc;
}

.myTable tr:hover{
	background : #eee;
}

.myTable td{
	padding : 5px;
	border-bottom : 1px dashed #eee;
}

/* Button */
.button{
	display : block;
	padding : 3px 10px;
	color : #000;
	font-weight : bold;
	text-transform : uppercase;
	margin : auto;
	background : url('../img/icons/pixel_diagonale.png') #eee;
	border : 1px solid #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button:hover{
	cursor : pointer;
	opacity : 0.8;
}

.button:active{
	position : relative;
	top : 2px;
	left : 2px;
}

.action .button{
	margin : 0;
}

/**DESIGN GLOBAL */
.info, .success, .error {
    margin : 10px 0px;
    padding : 15px 10px 15px 50px;
    background-repeat : no-repeat;
    background-position : 10px center;
    -webkit-border-radius : 5px;
		-moz-border-radius : 5px;
		border-radius : 5px;
}
.info {
    color : #000;
    background-color : #eee;
    background-image : url('../img/icons/info.png');
}

.success {
    color : #4F8A10;
    background-color : #DFF2BF;
    background-image : url('../img/icons/success.png');
}

.error {
    color : #D8000C;
    background-color : #FFBABA;
    background-image : url('../img/icons/error.png');
}