.carte{
	position : relative;
	margin : 10px 0 20px 0;
}

.carte .area{
	width : 15px;
	height : 15px;
	margin : auto;
	position : absolute;
	cursor : pointer;
	border : 1px solid transparent;
}

.carte .point{
	width : 5px;
	height : 5px;
	background-color : #c60159;
	margin : 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#current{
	min-width : 47px;
	height : 77px;
	color : #c60159;
	text-transform : uppercase;
	font-weight : bold;
	font-style : italic;
	padding : 0 0 0 30px;
	background : url('../img/global/international-hover.png') no-repeat bottom left;
	position : absolute;
}

#current .name{
	/*background-color : #fff;*/
	padding : 4px 10px;
}

.country{
	cursor : pointer;
}

.currentCountry{
	color : #c60159;
}

.firstColumn strong{
	color : #545454;
	font-weight : normal;
}

.firstColumn a{
	color : #545454;
	font-style : italic;
	font-weight : bold;
}

.firstColumn a:hover{
	text-decoration : underline;
}

.international{
	cursor : pointer;
}

.currentPosition{
	background-color : #C60159;
}

.myTable tr.currentPosition:hover{
	background : #C60159;
}