/**
* STYLE CSS a2w Intranet
* @copyright Julien Guion
*/

/***************** Début du design */
html{
	background : #9a9a9a;
	
	/* Navigateurs récents */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#9a9a9a),
		to(#b6b6b6)
	);
	background: -webkit-linear-gradient(
		top,
		#9a9a9a,
		#b6b6b6
	);
	background: -moz-linear-gradient(
		top,
		#9a9a9a,
		#b6b6b6
	);
	background: -o-linear-gradient(
		top,
		#9a9a9a,
		#b6b6b6
	);
	background: linear-gradient(
		top,
		#9a9a9a,
		#b6b6b6
	);
	height : 100%;
}

body{
	background : 0;
	color : #fff;
	font-family : Verdana, Arial, sans-serif;
	font-size : 11px;
}

h1{
	margin-top : 200px;
	text-align : center;
	font-size : 48px;
	font-weight : normal;
	font-family : 'JeanLucThin', Arial, sans-serif;
}

#contentLogin{
	margin : auto;
}

.boxConnexion{
	width : 300px;
	margin : auto;
	background : rgba(0,0,0,0.7);	
	padding : 20px;
}

table{
	margin : auto;
}

table tr{
	margin-top : 10px;
}

.button{
	margin-top : 15px;
}