/**
* STYLE CSS Sheitan Admin
* @copyright Julien Guion
*/

.content{
	padding : 20px;
}

.menu{
	padding : 10px;
	background : #000;
	padding-left: 10px;
	text-transform : uppercase;
	color : #000;
	background : #eee;
	font-size : 12px;
	font-weight : bold;
	border-radius : 10px;
}

.menu a{
	padding-left: 40px;
	margin-right : 4px;
	background : url('../img/icons/html5-semantics-cut.png') left center no-repeat;
}

a:hover{
	text-decoration : none;
}

#entries{
	text-align :center;
	font-size : 12px;
	font-weight : bold;
	background : #eee;
	border : 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#entries ul{
	padding : 10px;
}

#entries li{
	display : inline-block;
	width : 100px;
	height : 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow : hidden;
	position : relative;
}

#entries li:hover{
	background : #ccc;
	color : #ee8800;
}

#entries a{
	display : block;
	font-size : 12px;
	font-weight : bold;
}

#entries a:hover{
	color : #ee8800;
}

#entries .icon, #entries .label{
	display : block;
}

#entries .label{
	margin-top : 10px;
}

#entries .file, #entries .folder{
	padding : 10px;
}

.info{
	margin : 0;
	margin-bottom : 20px;
}

.delete{
	position : absolute;
	top : 5px;
	right : 5px;
	cursor : pointer;
}

.parser{
	padding : 10px;
	background : #000;
	padding-left: 52px;
	text-transform : uppercase;
	color : #fff;
	background : url('../img/icons/html5-semantics-white-cut.png') #000 left center no-repeat;
	background-position : 10px 50%;
	border : 1px solid #fff;
}

.parser a{
	color : #fff;
}