/**
* STYLE CSS a2w Intranet
* @copyright Julien Guion
*/

/***************** Début du design */
.myTable{
	margin-top : 10px;
}

.addPromotion input{
	padding : 5px;
}

.delete{
	cursor : pointer;
}

.move{
	cursor : move;
}