/**
* STYLE CSS
* @copyright agence2web
*/

a{
	color : #000;
}

/***************** Début du design */


html{
	width : 100%;
	height : 100%;
	background : url('../img/global/fond.png') repeat-y top center;
}

body{
	min-width : 1024px;
	min-height : 100%;
	margin:auto;
	background : #fff;
	color : #000;
	text-align:left;
	font-family : Helvetica, Verdana, Arial, sans-serif;
	font-size : 12px;
}

/*** HEADER **/
#header{
	position : relative;
	background : #4f504f;
	padding : 10px;
	color : #fff;
}

#header a{
	color : #fff;
	text-decoration : underline;
}

#header .logo{
	float : left;
	margin-right : 20px;
}

#language {
	position : absolute;
	top : 35px;
	left : 50%;
}

#language ul li{
	display : inline-block;
	zoom : 1;
	*display : inline;
}

#language .current{
	color : #C60159;
	font-size : 30px;
	font-weight : bold;
	text-transform : uppercase;
}

#header .administration{
	float : left;
	margin-top : 25px;
	font-size : 30px;
}

#header .logout{
	float : right;
	margin-top :35px;
}

/** ASIDE **/
#aside{
	width : 230px;
	float : left;
	margin : 10px 0 10px 10px;
	border : 1px solid #e6e6e6;
	color : #555;
	font-size : 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow : hidden;
}

/** MAIN MENU **/
#aside .mainMenu{
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow : hidden;*/
}

#aside .mainMenu li.mainItem{
	height : 40px;
	position : relative;
	background : #f1f1f1;
	border-bottom : 1px solid #e6e6e6;
}

#aside .mainMenu li.withUnderMenu{
	background : #f1f1f1;
	background-position : 205px 50%;
}

#aside .mainMenu li.withUnderMenu a{
	display:block;
	width : 100%;
	height : 100%;
}

#aside .mainMenu li.mainItem:hover{
	background-color : #ddd;
	cursor : pointer;
}

#aside .mainMenu li.mainItem.noLink{
	height : 18px;
}

#aside .mainMenu li.firstItemMainMenu{
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#aside .mainMenu li.lastItemMainMenu{
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border : 0;
}

#aside .mainMenu li.mainItem .separator{
	width : 40px;
	height : 40px;
	position : absolute;
	top : 0;
	right : 0;
	background : url('../img/icons/up.png') no-repeat;
	background-position : 55% 50%;
	border-left : 1px solid #e6e6e6;
}

#aside .mainMenu a{
	display:block;
	height : 18px;
	color : #555;
	padding : 12px 0 10px 20px;
}

#aside .noLink{
	padding : 12px 0 10px 20px;
}

/** UNDER MENU **/
#aside .underMenu{
	padding : 10px 10px 10px 30px;
	color : #5cb5e2;
	font-size : 14px;
}
#aside .parentSubMenu{
	margin-left: -10px;
	padding-left: 0;
}
#aside .parentSubMenu a{
	font-weight: bold;
}
#aside ul.arborescence
{
	margin-bottom: 10px;
}


#aside .underMenu a{
	display:inline;
	padding : 0;
	color : #555;
}

#aside .underMenu a:hover{
	color : #000;
}

#aside .collectionMenu{
	margin : 10px;
	font-size : 10px;
}

#aside .firstLine{
	padding: 5px 0 0 0;
	font-size: 13px;
}

#aside .firstLine:first-child{
	padding : 0;
}

#aside .secondLine{
	padding : 5px 0 5px 10px;
	font-size : 12px;
}

#aside .secondLine a:before{
	content : '- ';
}

#aside .thirdLine{
	padding : 3px 0 5px 20px;
	font-size : 10px;
}

#aside .thirdLine a:before{
	content : '• ';
}

#aside .fourthLine{
	padding : 3px 0 5px 20px;
	font-size : 10px;
}

/** CONTENT **/

#content{
	margin : 0 0 0 240px;
	min-height : 600px;
}

#container{
	margin : 10px;
	border : 1px solid #e6e6e6;
	background : #f1f1f1;
	color : #000;
	font-size : 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#headerContainer{
	font-size : 16px;
	padding : 10px 0 10px 20px;
	border-bottom : 1px solid #e6e6e6;
	font-weight : bold;
}

#contentContainer{
	font-size : 14px;
	padding : 10px;
}

.notificationInbox {
    background-color: #FB291C;
    -webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 3px 8px;
    font-size : 16px;
}

.move{
	cursor : move;
}

.delete{
	cursor : pointer;
}

.star{
	color : red;
}