/**
* GLOBALS CSS a2w
* @copyright Julien Guion
*/

/**************** Généralités */
:link,:visited{
	text-decoration : none;
}

ul{
	list-style : none;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,figure{ 
	margin : 0;
	padding : 0;
}

a img,:link img,:visited img {
	border : none;
}

a:hover{
	text-decoration : none;
}

/* Supprimer les flottants */
.clear{
	clear : both;
}

/* Cacher un element */
.hide{
	display : none;
}

.error {
  color : #D8000C;
  background-color : #FFBABA;
  padding : 5px;
}

.success{
	color : #4F8A10;
  background-color : #DFF2BF;
  padding : 5px;
}

/********* transformation */
.bold{ font-weight : bold;}
.italic{font-style : italic;}

/********* color texte */
.color-white{ color : #fff; }
.color-black{ color : #000; }
.color-black{ color : #000; }
.color-gray{ color : #4f504f; }
.color-pink{ color : #ff7bb3;}
.color-blue{ color : #0061c5;}
.color-orange {color : #ffa700;}
.color-red {color : #ff0000;}

/********* font size */
.font-size-11{ font-size : 11px; }
.font-size-12{ font-size : 12px; }
.font-size-14{ font-size : 14px; }
.font-size-16{ font-size : 16px; }
.font-size-18{ font-size : 18px; }
.font-size-20{ font-size : 20px; }
.font-size-22{ font-size : 22px; }
.font-size-24{ font-size : 24px; }
.font-size-25{ font-size : 25px; }
.font-size-28{ font-size : 28px; }
.font-size-30{ font-size : 30px; }
.font-size-35{ font-size : 35px; }

/** padding top **/
.padTop-25{padding : 25px 0 0 0;}
.padTop-50{padding : 50px 0 0 0;}
.padTop-60{padding : 60px 0 0 0;}

/** padding left **/
.padLeft-58{padding-left : 58px;}
.padLeft-55{padding-left : 55px;}

/* margin */
.margin-15-0-0-0{ margin : 15px 0 0 0;}
.margin-25-0-0-0{ margin : 25px 0 0 0;}
.margin-30-0-0-0{ margin : 30px 0 0 0;}
.margin-60-0-0-0{ margin : 60px 0 0 0;}
.margin-80-0-0-0{ margin : 80px 0 0 0;}
.margin-82-130-0-0{ margin : 82px 132px 0 0;}
.margin-251-46-0-0{ margin : 251px 46px 0 0;}


/* width */
.width-380{ width : 380px;}
.width-400{ width : 400px;}

.inline li{
	display : inline-block;
	zoom : 1;
	*display : inline;
	vertical-align : top;
	position : relative;
}

.inBlock li{
	display : block;
	position : relative;
}