/***************************************
************ FONTS *********************
***************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

@font-face {
    font-family: "ClementePDac";
    src: url('fonts/ClementePDac/613159180-ClementePDac-ExtraLight.eot');
    src: url('fonts/ClementePDac/613159180-ClementePDac-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/ClementePDac/613159180-ClementePDac-ExtraLight.svg#ClementePDac') format('svg'),
    url('fonts/ClementePDac/613159180-ClementePDac-ExtraLight.woff') format('woff'),
    url('fonts/ClementePDac/613159180-ClementePDac-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/***************************************
************ GENERIC *********************
***************************************/

a{
	color : #000;
}

a:hover{
	color : #000;
	text-decoration : none;
}
.centered
{
	max-width: 1170px;
	margin: auto;
	overflow : hidden;
}
.two-centered
{
	width: 1180px;
	margin: auto;
}
.box-sizing
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.outline{ outline:none; }
ul.inline li{ display: inline-block; }
b{ font-weight: bold; }
.arrow_right:after
{
	content: '';
	background: url('../img/global/small_arrow_right.png') center center no-repeat;
	padding-right: 0.2%;
	width: 10px;
	height: 9px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top : -4.5px;
	right: 6%;
}
.royalSlider .text_slider a.arrow_right:after{ right: 2%; }
.arrow_right
{
	position: relative;
	text-indent: -0.5%;
}

.block{display: block;}
.full-float
{
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.bouton-classic
{
	width: 150px;
	height: 40px;
	border: 1px solid #dadada;
	text-align: center;
	background: #ffffff;
	line-height: 38px;
	text-transform: uppercase;
}
.bouton-classic:hover
{
	background: #f5f5f5;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px){ 

	.removeAppearence
	{
		appearance: none;
		-moz-appearance :none;
		-webkit-appearance: none;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
}
.inline li.responsive{ display: none; }
/***************************************
************ START OF DESIGN ***********
***************************************/
html{ -webkit-text-size-adjust: 100%; }
body
{
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #646464;	
	position: relative;
	min-width : 320px;
}
	header
	{
		
	}
		header .header_top
		{
			height: 120px;
			border-bottom: 1px solid #dfdfdf;
			padding-top: 10px;
		}
			header .header_top .header_top_left
			{
				float: left;
			}
				.header_top_left .logo_principal
				{
					background: url('../img/global/logo_principal.png') top left no-repeat;
					width: 230px;
					height: 100px;
					display: block;
					position : relative;
				}
				
				.header_top_left .logo_principal .logoTitle{ position : absolute;text-transform : uppercase;top : 60px;left : 5px;font-size : 14px;color : #616367;}
				.header_top_left .logo_principal .logoSubTitle{position : absolute;text-transform : uppercase;top : 73px; left : 5px;font-size : 14px; font-weight : 700;color : #616367;}
				
			header .header_top .header_top_right
			{
				float: right;
				width: 250px;
				color: #bababa;
			}
				.header_top_right .recherche
				{
					margin-top: 24px;
					float: left;
				}
					.header_top_right .recherche input[type="text"]
					{
						width: 214px;
						height: 30px;
						border: #dfdfdf 1px solid;
						border-right: none;
						padding: 5px;
						float: left;
					}
					.header_top_right .recherche .borders
					{
						height: 30px;
						width: 30px;
						border: #dfdfdf 1px solid;
						border-left: none;
						float: left;
						cursor: pointer;
					}
						.header_top_right .recherche .borders input[type="submit"]
						{
							height: 12px;
							width: 12px;
							background: url('../img/global/loupe_search.png') center top no-repeat;
							text-indent: -9999px;
							border: none;
							position: relative;
							top: 8px;
							left: 8px;
							cursor: pointer;
							color: #bababa;
						}
						.header_top_right .recherche .borders:hover input[type="submit"]
						{
							background-position: center bottom;
						}
			.header_top_right .wrapLanguage
			{
				float: left;
				width: 120px;
				line-height: 18px;
			}
				.header_top_right .wrapLanguage *
				{
					font-size: 8px;
					padding: 0 1px 0 1px;
					letter-spacing: 1px;
				}
				.header_top_right .wrapLanguage a:hover,
				.header_top_right .wrapLanguage li.current
				{
					color: #d5645c;
				}
			header .header_top .header_top_right .identification
			{
				padding-right: 2px;
				float: right;
				display: none;
			}
				header .header_top .header_top_right .identification a
				{
					
				}
				header .header_top .header_top_right .identification a:hover
				{
					color: #d5645c;
				}
		header .header_bottom
		{
			border-bottom: 1px solid #dfdfdf;
			padding : 15px 0;
			float: left;
			width: 100%;
			line-height : 30px;
		}
			header .header_bottom ul
			{
				text-align: center;
			}
				header .header_bottom ul li
				{
					text-align: center;
					padding-left: 24px;
					margin: 0px 18px 0 18px;
				}
				header .header_bottom ul li p
				{
					padding-left: 24px;
				}
					header .header_bottom ul li p a,
					header .header_bottom ul li p p
					{
						color: #646464;
					}
					header .header_bottom ul li.mail p
					{
						background: url('../img/global/info_mail.png') center left no-repeat;
						text-decoration: underline;
					}
					header .header_bottom ul li.mail p:hover
					{
						text-decoration: none;
					}
					header .header_bottom ul li.telephone p
					{
						background: url('../img/global/info_telephone.png') center left no-repeat;
					}
					header .header_bottom ul li.localisation p
					{
						background: url('../img/global/info_localisation.png') center left no-repeat;
					}
.container_principal
{
	/* Override du pluging responsive */
	
}

/* Les buttom de partage*/
.partageSociaux 
{
	position:relative;	
}
.partageSociaux .addthis_toolbox 
{
	position: absolute;
	right: 0;
	top: 10px;
}
.partageSociaux .addthis_default_style .at300b, .addthis_default_style .at300bo, 
.partageSociaux .addthis_default_style .at300m { padding: 0 3px; }

.partageSociaux .addthis_20x20_style .at15t_facebook,
.partageSociaux .addthis_20x20_style .at15t_twitter,
.partageSociaux .addthis_20x20_style .at15t_print,
.partageSociaux .addthis_20x20_style .at15t_email {
	background: url("../img/global/pictoSprite.png") no-repeat;
	background-position: 0 0 !important;
}
.partageSociaux .addthis_20x20_style .at15t_facebook:hover{ background-position: 0 -21px !important;}

.partageSociaux .addthis_20x20_style .at15t_twitter {background-position: -21px 0 !important;}
.partageSociaux .addthis_20x20_style .at15t_twitter:hover {background-position: -21px -21px !important;}

.partageSociaux .addthis_20x20_style .at15t_print {background-position: -42px 0 !important;}
.partageSociaux .addthis_20x20_style .at15t_print:hover {background-position: -42px -21px !important;}

.partageSociaux .addthis_20x20_style .at15t_email {background-position: -63px 0 !important;}
.partageSociaux .addthis_20x20_style .at15t_email:hover {	background-position: -63px -21px !important;}
/*******************/
	.menu_principal
	{
		float: left;
		width: 100%;
		padding: 15px 0;
	}
		.menu_principal li
		{

		}
			.menu_principal a
			{
				text-transform: uppercase;
				font-weight: bold;
			}
			
		nav{overflow : hidden;}
		.menu_principal .menuLeft
		{
			float: left;
		}
			.menu_principal .menuLeft li
			{
				float: left;
				margin: 0 11px 0 12px;
			}
			.menu_principal .menuLeft li:last-child
			{
				margin-right: 0px;
			}
			.menu_principal .menuLeft li.first
			{
				margin-left: 0px;
			}
				.menu_principal .menuLeft li a
				{
					color: #d5655d;
					line-height : 30px;
				}
				.menu_principal .menuLeft li.current a,
				.menu_principal .menuRight li.current a
				{
					color: #646464 !important;
					border-bottom: #bababa 1px solid;
				}
				.menu_principal .menuLeft li a:hover
				{
					color: #9b2e26;
				}
		.menu_principal .menuMiddle
		{
			float: right;
			margin-right: 30px;
		}
		@-moz-document url-prefix() 
		{ 
			.menu_principal .menuMiddle
			{
				/*margin-left: 68px;*/
			}
		}
			.menu_principal .menuMiddle li
			{
				float: left;
			}
				.menu_principal .menuMiddle li a
				{
					color: #ffffff;
					height: 30px;
					background: #646464;
					font-weight: normal;
					text-align: center;
					line-height: 30px;
					display : block;
					padding : 0 10px
				}
				.menu_principal .menuMiddle li a:hover
				{
					background: #d5655d;
				}
		.menu_principal .menuRight
		{
			float: right;
		}
			.menu_principal .menuRight li
			{
				float: left;
			}

		@-moz-document url-prefix() 
		{ 
			.menu_principal .menuRight
			{
				/*margin-left: 44px;*/
			}
				.menu_principal .menuRight li
				{
					
				}
		}

			.menu_principal .menuRight li.last
			{
				float: right;
				margin: 0 0 0 30px;
			}
				.menu_principal .menuRight li a
				{
					color: #646464;
					line-height : 30px;
				}
				.menu_principal .menuRight li a:hover
				{
					color: #d5655d;
				}
section.slider
{
	width: 100%;
	height: 400px;
}
section.slider .royalSlider
{
	width: 100%;
	height: 100%;
	position: relative;
}
	.royalSlider .text_slider
	{
		position: absolute;
		z-index: 100;
		text-align: center;
		color: white;
		top: 20%;
		width: 100%;
	}
		.royalSlider .text_slider h1
		{
			font-family: 'ClementePDac', 'Open Sans', Arial;
			font-size: 45px; 
			font-weight: normal;
			font-smooth: always;
			-webkit-font-smooth: always;
			-moz-font-smooth: always;
			margin-bottom: 16px;
		}
		.royalSlider .text_slider p
		{
			width: 80%;
			margin: auto;
			max-width: 848px;
		}
		.royalSlider .text_slider a
		{
			width: 230px;
			height: 40px;
			background: white;
			color: #323232;
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			line-height: 40px;
			margin-top: 36px;
		}
		.royalSlider .text_slider a:hover
		{
			background: #efeeee;
			color: #6e6e6e;
		}
section.savoir-faire
{

}
	section.savoir-faire h1,
	section.savoir-faire h2,
	section.savoir-faire p
	{
		text-align: center;
	}
	section.savoir-faire h1
	{
		margin-top: 40px;
		font-size: 24px;
		letter-spacing: 1px;
	}
	section.savoir-faire h2
	{
		font-style: italic;
		font-size: 16px;
		margin-top: 6px;
		font-weight: normal;
	}
	section.savoir-faire p
	{
		font-size: 14px;
		margin: auto;
		margin-top: 40px;
		max-width: 770px;
	}
	section.savoir-faire .centered
	{
		
	}
		section.savoir-faire .centered figure
		{
			margin-top: 36px;
			margin-bottom: 40px;
			width: 206px;
			margin-left: 60px;
			display: inline-block;
		}
		section.savoir-faire .centered figure.last
		{
			width: 206px;
			margin-top: 36px;
			/*margin-right: 9.7%;*/
		}
			section.savoir-faire .centered figure h3
			{
				text-align: center;
				text-transform: uppercase;
				font-size: 25px;
				color: #d5655d;
				margin-bottom: 10px;
			}
			section.savoir-faire .centered figure img
			{
				border: 1px solid #d5d5d5;
				padding: 3px;
				width: 100%;
			}
			section.savoir-faire .centered figure figcaption h6
			{
				font-style: italic;
				font-size: 14px;
				text-align: center;
				margin-top: 16px;
				letter-spacing: 0.2px;
				font-weight: normal;
			}
			section.savoir-faire .centered figure a
			{
				margin: auto;
				margin-top: 16px;
			}
	section.savoir-faire .text_explicatif
	{
	}
	section.savoir-faire .text_explicatif .left
	{
		float: left;
		width: 79%;
	}
		section.savoir-faire .text_explicatif .left p
		{
			font-size: 14px;
			text-align: justify;
			margin: 0;
			width: 100%;
			max-width: 900px;
		}
	section.savoir-faire .text_explicatif .right
	{
		float: right;
		width: 18%;
		background: url('../img/global/iso.png') center center no-repeat;
		height: 190px;
		min-width: 136px;
	}
section.devis-enligne
{
	padding-top: 70px;
	height: 220px;
	background:#d5655d;
	margin-top: 36px;
}
	section.devis-enligne h1
	{
		color: #ffffff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		margin-bottom: 34px;
	}
	section.devis-enligne a
	{
		width: 170px;
		height: 40px;
		background: #ffffff;
		color: #323232;
		margin: auto;
		text-align: center;
		text-transform: uppercase;
		line-height: 40px;
	}
	section.devis-enligne a:hover
	{
		background: #f5f5f5;
	}
section.actus-socials
{

}
	section.actus-socials .actualites
	{
		float: left;
		width: 70%;
		padding: 40px 0px 40px 0;
	}
		section.actus-socials .actualites h1
		{
			font-size: 24px;
			text-align: center;
			margin-bottom: 20px;
		}
		section.actus-socials .actualites a.bouton-blog
		{
			margin: auto;
		}
		section.actus-socials .actualites .articles
		{
			width: 94%;
			margin: auto;
			margin-top: 40px;
		}
			section.actus-socials .actualites .articles article
			{
				float: left;
				max-width: 370px;
				width: 48%;
			}
			section.actus-socials .actualites .articles article.last
			{
				float: right;
			}
				section.actus-socials .actualites .articles article h2
				{
					color: #727272;
					font-weight: bold;
					margin-top: 20px;
					text-align: center;
					text-transform: uppercase;
					font-size: 14px;
				}
				section.actus-socials .actualites .articles article em
				{
					text-transform: uppercase;
					text-align: center;
					font-size: 10px;
				}
				section.actus-socials .actualites .articles article p
				{
					margin-top: 20px;
					color: #8c8c8c;
					text-align: justify;
				}
				section.actus-socials .actualites .articles article img
				{
					width: 100%;
				}
				section.actus-socials .actualites .articles article a
				{
					margin: auto;
					margin-top: 18px;
				}
	section.actus-socials .contact
	{
		width: 100%;
		float: left;
	}
		section.actus-socials .contact p,
		section.actus-socials .contact a
		{
			color: #333333;
		}
		section.actus-socials .contact h1
		{
			border-top: 1px solid #727272;
			padding-top: 28px;
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			width: 240px;
			margin: auto;
			margin-top: 38px;
			margin-bottom: 30px;
		}
		section.actus-socials .contact p,
		section.actus-socials .contact a
		{
			text-align: center;
			font-size: 18px;
		}
		section.actus-socials .contact a:hover
		{
			color: #d5655d;
		}
		
		section.actus-socials .contact p.extra-margin
		{
			margin: 5px 0 20px 0;
		}
		
		
	section.actus-socials .socials
	{
		float: right;
		width: 30%;
		background: #f7f7f7;
		height: 870px;
		padding-top: 122px;
	}
	@-moz-document url-prefix()
	{
		section.actus-socials .socials
		{
			height: 880px;
		}
	}
		section.actus-socials .socials li
		{
			width: 110px;
			height: 110px;
			border: 2px solid #c4c3c3;
			border-radius: 80px;
			-moz-border-radius: 80px;
			-webkit-border-radius: 80px;
			margin: auto;
			margin-bottom: 50px;
			cursor: pointer;
		}
			section.actus-socials .socials li:hover
			{
				border-color: #d5655d;
			}
			section.actus-socials .socials li:hover a
			{
				background-position: top center !important;
				color: #d5655d;
			}
			section.actus-socials .socials li a
			{
				margin: auto;
				position: relative;
				top: 36%;
				width: 100%;
				text-align: center;
				line-height: 190px;
				color: #c4c3c3;
			}
			section.actus-socials .socials li.twitter a
			{ 
				height: 25px;
				background: url('../img/global/social_twitter.png') bottom center no-repeat; 
				top : 40%;
				line-height : 180px;
			}
			section.actus-socials .socials li.facebook a
			{ 
				height: 31px;
				background: url('../img/global/social_fb.png') bottom center no-repeat; 
			}
			section.actus-socials .socials li.youtube a
			{ 
				height: 31px;
				background: url('../img/global/social_youtube.png') bottom center no-repeat; 
			}
			
			section.actus-socials .socials li.linkedin a
			{ 
				height: 24px;
				top : 39%;
				background: url('../img/global/picto_linkedin_big.png') bottom center no-repeat; 
			}
	section.map
	{
		height: 450px;
	}
footer
{
	background:#333333;
	height: 196px;
	padding-top: 48px;
}
	footer .footer_part
	{
		float: left;
	}
	footer .footer_left
	{
		margin-right: 20%;
	}
		footer .footer_left input
		{
			float: left;
			height: 30px;
		}
		footer .footer_left input[type="email"]
		{
			padding-left: 18px;
			padding-right: 10px;
			color: #e5e4e4;
			background: #636363;
			width: 156px;
			border: 1px solid #919090;
		}
		
		footer .footer_left input[type="email"].error {
			background-color: #FFBABA;
	    color: #D8000C;
		}
		footer .footer_left input[type="submit"]
		{
			width: 30px;
			background: #919090;
			text-transform: uppercase;
			border: 1px #919090 solid;
			color: #575757;
			cursor: pointer;
		}
		footer .footer_left input[type="submit"]:hover{ color: #ffffff; }
	footer .footer_middle
	{
	}
	footer .footer_right
	{
		margin-right: 0px !important;
		float: right;
	}
		footer h5
		{
			text-transform: uppercase;
			color: #e5e4e4;
			font-size: 14px;
			text-align: center;
			margin-bottom: 14px;
			font-weight: bold;
		}
			footer p,
			footer p a
			{
				font-size: 12px;
				color: #8c8c8c;
				margin-bottom: 10px;
				text-align: center;
			}
			footer p a.current,
			footer p a:hover{ color: #ffffff; }

			footer .footer_middle p,
			footer .footer_middle a,
			footer .footer_right p,
			footer .footer_right a
			{
				margin-bottom: 0px;
			}

.actualpage
{
	background: #d5655d;
	height: 60px;
}
	.actualpage h1
	{
		color: #ffffff;
		text-align: center;
		line-height: 60px;
		text-transform: uppercase;
		font-size: 14px;
	}
	.actualpage h1 span
	{
		font-weight: normal;
	}
/*
	Page 404
*/
.page404 h2,
.page404 h3
{
	text-align: center;
	color: #d5655d;
	font-weight: bold;
}
.page404 h2
{
	font-size: 374px;
	line-height: 374px;
}
.page404 h3
{
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 30px;
}

.pageinterne
{
	overflow: hidden;
    width: 100%;
    clear:both;
    margin : 0 auto;
}

.double .pageinterne{width: 1170px;margin : 0 auto;}

.pageinterne .centered{
	display : table;
	width : 100%;
}
	.pageinterne aside
	{
		width: 370px;
		background: #f7f7f7;
		display: table-cell;
		vertical-align: top;
	}
		.pageinterne aside nav
		{
			float: left;
			width: 100%;
		}
			.pageinterne aside nav ul li
			{
				width: 100%;
			}
				.pageinterne aside nav ul li a
				{
					display: block;
					width: 100%;
					font-size: 14px;
					text-align: center;
					text-transform: uppercase;
					padding: 20px 0 20px;
					border-top: #ffffff solid 1px;
					border-bottom: #e4e4e4 solid 1px;
				}
				.pageinterne aside nav ul li a:hover,
				.pageinterne aside nav ul li a.current{ background: #e4e4e4; }
				
				.pageinterne  aside nav ul li:first a
				{
					border-top: none;
				}
				.pageinterne aside nav ul li a:after
				{
					content: '';
					float: right;
					background: url('../img/global/small_arrow_right.png') center center no-repeat;
					width: 5px;
					height: 9px;
					position: relative;
					right: 12px;
					top: 4px;
				}
		.pageinterne aside .imagetop
		{ 
			width: 100%;
			float: left;
		}
		.pageinterne aside .devis
		{
			height: 160px;
			background:#cacaca;
			width: 100%;
			padding-top: 36px;
			float: left;
		}
			.pageinterne aside .devis h2
			{
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 16px;
				color: #ffffff !important; 
				width: 240px;
				margin: auto;
			}
			.pageinterne aside .devis a
			{
				width: 170px;
				height: 40px;
				background: white;
				color: #323232;
				text-transform: uppercase;
				text-align: center;
				display: block;
				line-height: 40px;
				margin: auto;
				margin-top: 16px;
			}
			.pageinterne aside .devis a:hover
			{
				background: #efeeee;
				color: #6e6e6e;
			}
			.pageinterne .socials
			{
				float: left;
				width : 100%;
				padding: 40px 0 40px;
				border-bottom: 1px solid #e4e4e4;
			}
			.pageinterne .socials ul{
				text-align : center;
				margin : 0 0 0 -20px;
			}
				.pageinterne .socials li
				{
					width: 52px;
					height: 52px;
					border: 2px solid #c4c3c3;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					cursor: pointer;
					display : inline-block;
					zoom : 1;
					*display : inline;
					margin : 0 0 0 20px;
				}
				.pageinterne .socials li:hover
				{
					border-color: #d5655d;
				}
				.pageinterne .socials li:hover a
				{
					background-position: top center !important;
					color: #d5655d;
				}
				.pageinterne .socials li a
				{
					margin: auto;
					width: 100%;
					text-align: center;
					line-height: 106px;
					color: #c4c3c3;
					position: relative;
					top: 35%;
				}
				.pageinterne .socials li.twitter a
				{
					height: 13px;
					background: url('../img/global/social_twitter.png') bottom center no-repeat; 
					background-size: 16px 26px;
					top: 36%;
				}
				.pageinterne .socials li.facebook a
				{
					height: 15px;
					background: url('../img/global/social_fb.png') bottom center no-repeat; 
					background-size: 7px 30px;
					text-indent: -6px;
					top: 36%;
				}
				.pageinterne .socials li.youtube a
				{
					height: 16px;
					background: url('../img/global/social_youtube.png') bottom center no-repeat;
					background-size: 17px 32px;
					top: 35%;
				}
				.pageinterne .socials li.linkedin a
				{
					height: 16px;
					background: url('../img/global/picto_linkedin.png') bottom center no-repeat;
					background-size: 17px 32px;
					top: 36%;
				}
			.pageinterne .last_actu
			{
				border-top: 1px #ffffff solid;
				padding-top: 20px;
				padding-bottom: 40px;
				float: left;
				width: 100%;
			}
				.pageinterne aside .last_actu h2,	
				.pageinterne aside .last_actu h3
				{
					text-transform: uppercase  !important;
					color: #727272 !important;
					font-size: 14px  !important;
					text-align: center  !important;
					margin-bottom: 20px  !important;
					font-weight: bold  !important;
				}
				.pageinterne aside .last_actu h3
				{
					border-bottom: none !important;
					margin-bottom: 0px !important;

				}
				.pageinterne .last_actu h3{ margin-top: 20px; margin-bottom: 0px; }
				.pageinterne .last_actu em{ text-align: center; display: block; }
				.pageinterne .last_actu p
				{ 
					margin-top: 20px;
					padding: 0 15px;
					text-align: justify; 
				}
				.pageinterne .last_actu img
				{
					width: 100%;
				}
				.pageinterne .last_actu a.arrow_right
				{
					width: 170px;
					height: 40px;
					background: white;
					color: #323232;
					text-transform: uppercase;
					text-align: center;
					display: block;
					line-height: 40px;
					margin: auto;
					margin-top: 16px;
					border: 1px #dadada solid;
				}
				.pageinterne .last_actu a.arrow_right:hover
				{
					background: #efeeee;
					color: #6e6e6e;
				}
			

	.pageinterne .content
	{
		padding: 30px 30px 40px 30px;
		display: table-cell;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
		.pageinterne.page-dynamique .content h2
		{
			font-size: 16px;
			color: #d5655d;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
			font-weight: bold;
			border: none;
		}
		.pageinterne.mentionslegales h2,
		.pageinterne.recherche h2
		{
			font-size: 16px !important;
			color: #d5655d !important;
			text-transform: uppercase !important;
			text-align: center !important;
			font-weight: bold !important;
			border: none !important;
		}

		.mentionslegales.pageinterne .content p
		{
			text-align:justify;
			color: #646464;
			margin-bottom: 16px;
		}
		.pageinterne.page-dynamique .content p
		{
			margin: 6px 0 6px 0px;
		}
		.pageinterne.page-dynamique .content h3
		{
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.pageinterne.page-dynamique .content > img
		{
			width: 100% !important;
			height: auto !important;
			margin-top: 10px;
		}
		.pageinterne.page-dynamique .content ul
		{
			margin: 20px 0px 30px 0;
			list-style: none;
		}
			.pageinterne.page-dynamique .content ul li
			{
				padding-left: 1em; 
    			text-indent: -.7em;
			}
				.pageinterne.page-dynamique .content ul li:before 
				{
					content: "• ";
					color: #8f8f8f;
					font-size: 18px;
					font-weight: bold;
					position: relative;
					top: 2px;
				}
		.pageinterne.page-dynamique .content table
		{
			width: 100% !important;
			margin-top: 16px;
			margin-bottom: 16px;
			border-top: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			border-bottom: none;
			border-left: none;
			border-collapse: collapse;
		}
			.pageinterne.page-dynamique .content table th{ text-transform: uppercase; }
			.pageinterne.page-dynamique .content table td,
			.pageinterne.page-dynamique .content table th
			{
				border-bottom: 1px solid #dddddd;
				border-top: none;
				border-left: 1px solid #dddddd;
				border-right: none;
				width: 30px;
				height: 48px;
				text-align: center;
				font-size: 14px;
			}
		.pageinterne.page-dynamique .content > div:last-child
		{
			background-color: #d5655d !important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 14px !important;
			color: white !important;
			border: none !important;
		}
		.video-container 
		{
		    position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px;
		    height: 0; 
		    overflow: hidden;
		}
		 
		.video-container iframe,
		.video-container object,
		.video-container embed 
		{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	.pageinterne.recherche
	{

	}
		.pageinterne.recherche .content ul
		{
			width: 100%;
			float: left;
		}
			.pageinterne.recherche .content ul li
			{
				width: 100%;
				float: left;
			}
				.pageinterne.recherche .content ul li a
				{
					color: #646464;
					text-decoration: underline;
					text-align: center;
					margin: 5px 0 5px 0;
					display: block;	
				}
				.pageinterne.recherche .content ul li a:hover{ color: #d5655d; }
				
	.pageinterne .articles
	{
		margin-top: 40px;
	}
		.pageinterne .articles article
		{
			overflow : hidden;
			margin-bottom: 20px;
		}
		.pageinterne .articles article.full-article
		{
			margin-bottom: 30px;
		}
		
			.pageinterne .articles article .entete
			{
				background: #f7f7f7;
				padding: 10px;
				margin-bottom: 20px;
				position: relative;
				overflow : hidden;
			}
				.pageinterne .articles article .entete .link_me
				{
					display: block;
					height: 100%;
					position: absolute;
					width: 88%;
					top: 0;
					left: 0;
				}
				.pageinterne .articles article .entete .left
				{
					float: left;
				}
				.pageinterne .articles article .entete .right
				{
					float: right;
					padding-top: 4px;
				}
					.pageinterne .articles article h1
					{
						text-transform: uppercase;
						font-size: 12px;
						color: #000000;
					}
					.pageinterne .articles article .left p
					{
						font-size: 10px;
						color: #646464;
						display: block;
					}
				.pageinterne .articles article .entete .right p
				{
					color : #bbbbbb;
					margin-right: 10px;
					display: inline-block;
					line-height: 10px;
					float: left;
				}
				.pageinterne .articles article .entete .right a
				{
					display: inline-block;
					text-indent: -9999px;
				}
				.pageinterne .articles article .entete .right a.facebook
				{
					height: 12px;
					width: 6px;
					margin-right: 10px;
					background: url('../img/global/social_fb.png') bottom center no-repeat;
					background-size: 5px 24px;
				}
				.pageinterne .articles article .entete .right a.twitter
				{
					height: 11px;
					width: 12px;
					background: url('../img/global/social_twitter.png') bottom center no-repeat;
					background-size: 12px 22px;
					position: relative;
					top: 1px;
				}
				.pageinterne .articles article .entete .right a:hover
				{
					background-position: top center;
				}
				.pageinterne .articles article .content_article
				{
					padding: 0 8px 0 8px;
				}
					.pageinterne .articles article .content_article .left
					{
						float: left;
						max-width: 310px;
						width: 27%;
					}
					.pageinterne .articles article.full-article .content_article .left
					{
						float: left;
						max-width: none;
						width: 100%;
					}
					
						.pageinterne .articles article .content_article .left img
						{
							width: 100%;
						}
					.pageinterne .articles article .content_article .right
					{
						padding-left: 32px;
						color: #333333;
						float: left;
						width: 73%;					
					}
					.pageinterne .articles article.full-article .content_article .right
					{
						padding-left: 0px;
						margin-top: 16px;
						width: 100%;					
					}
						.pageinterne .articles article .content_article .right p
						{
							margin-bottom: 15px;
							text-align: left;
							line-height: 16px;
						}
						.pageinterne.blog_article .navigation
						{
							width: 100%;
							float: left;
							margin-bottom: 30px;
							position: relative;
							height: 30px;
							text-align : center;
							text-decoration: underline;
								color: #333333;
						}
							.pageinterne.blog_article .navigation a.prev_article, .pageinterne.blog_article .navigation a.next_article
							{
								text-decoration: underline;
								position: absolute;
								color: #333333;
							}
							.pageinterne.blog_article .navigation a:hover
							{
								color: #d5645c;
							}
							
							.pageinterne.blog_article .navigation a.prev_article
							{
								left: 10px;
							}
							.pageinterne.blog_article .navigation a.prev_article:before{ content: '<< '; }
							.pageinterne.blog_article .navigation a.all_articles
							{
							}
							.pageinterne.blog_article .navigation a.next_article
							{
								right: 10px;
							}
							.pageinterne.blog_article .navigation a.next_article:after{ content: ' >>'; }
	.pageinterne.contact
	{
		padding-top: 35px;
	}
		.pageinterne.contact .extra-centered
		{
			width: 100%;
			max-width: 740px;
		}
		.pageinterne.contact div.contact
		{
			
		}
			.pageinterne.contact div.contact h1
			{
				text-align: center;
				text-transform: uppercase;
				font-size: 24px;
			}
			.pageinterne.contact div.contact p,
			.pageinterne.contact div.contact a
			{
				text-align: center;
				font-size: 18px;
				color: #333333;
			}
			.pageinterne.contact div.contact a:hover
			{
				color: #d5655d;
			}
			
			.pageinterne.contact div.contact p.extra-margin
			{
				margin: 10px 0 18px 0;
			}
			.pageinterne.contact .socials
			{
				height: 76px;
				width: 100%;
				float: left;
				padding: 40px 0 50px 0px;
				border: none;
			}
			.pageinterne.contact .socials ul
			{
				margin: auto;
				width: 315px;
			}
				.pageinterne.contact .socials .youtube{ margin-right: 0px; }
		
		.pageinterne .content h2,
		.pageinterne .extra-centered h2
		{
			color: #646464;
			font-size: 14px;
			text-align: left;
			font-weight: normal;
			border-bottom: 1px solid #dddddd;
			padding-bottom: 6px;
			width: 100%;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		.pageinterne.page-dynamique h3
		{
			color: #646464 !important;
			font-size: 14px !important;
			text-align: left !important;
			font-weight: normal !important;
			border-bottom: 1px solid #dddddd !important;
			padding-bottom: 6px !important;
			width: 100% !important;
			margin-bottom: 20px !important;
			text-transform: uppercase !important;
		}
		
		.pageinterne.contact .notice
		{
			margin-bottom: 30px;
		}
		.pageinterne.contact .notice.noticeDevis
		{
		 	clear: both;
    	margin-bottom: 10px;
    }
		.pageinterne.contact h3,
		.pageinterne .content h3
		{
			font-weight: bold;
			margin-bottom: 6px;
			color: #d5655d;
			font-size: 12px;
		}
		.pageinterne .content h3
		{
			margin-bottom: 10px;
		}
		.red_thing{ color: #d5655d; }
		.pageinterne .formulaire_type .form_line
		{
			float: left;
			width: 100%;
			margin-bottom: 12px;
		}
		.pageinterne .formulaire_type .form_line label
		{
			float: left;
			line-height: 34px;
			min-width: 92px;
			width: 12%;
		}
		.pageinterne .formulaire_type .form_line label.goback{ width: 100%; }
		.pageinterne .formulaire_type .form_line .block_radio label
		{
			margin-right: 10px;
			width: auto;
			min-width: 0;
		}
		.pageinterne .formulaire_type .form_line input[type="radio"]
		{
			float: left;
			margin-top: 10px;
			margin-right: 8px;
		}
		.pageinterne .formulaire_type .form_line input[type="text"],
		.pageinterne .formulaire_type .form_line input[type="email"],
		.pageinterne .formulaire_type .form_line .field_path,
		.pageinterne .formulaire_type .form_line textarea
		{
			outline: none;
			max-width: 87.5%;
			height: 34px;
			border: 5px solid #dedede;
			width: 99%;
			padding-left: 10px;
			padding-right: 10px;
		}
		.pageinterne .formulaire_type .form_line.post_block { width: 50%;}
		.pageinterne .formulaire_type .form_line.post_block input	{	width: 70%;}
		.pageinterne .formulaire_type .form_line.post_block label.labelMg
		{ 
			margin: 0 0 0 19px;
		}
		
		.pageinterne .formulaire_type .form_line textarea
		{
			width: 100%;
			height: 208px;
			float: left;
			max-width: 100%;
			resize: none;
		}
		.pageinterne .formulaire_type input[type="submit"]
		{
			margin-top: 4px;
			height: 36px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			display: table-cell;
			vertical-align: middle;
			color: #ffffff;
			background: #cc5c54;
			float: left;
			width: 100%;
			border: none;
			margin-bottom: 40px;
			cursor: pointer;
			-webkit-appearance: none;
		}
		.pageinterne .formulaire_type input[type="submit"]:hover
		{
			background:#d5655d;
		}
.pageinterne.recrutement
{
}
	.pageinterne.recrutement .notice
	{
		margin-bottom: 30px;
	}
	.pageinterne.recrutement .form_line.special-margin
	{
		margin-top: 30px;
		margin-bottom: 0;
	}
	
	.pageinterne.recrutement .form_line.special-margin2 {	margin : 10px 0 20px;	}
	
	.pageinterne.recrutement .form_line .field_path,
	.pageinterne.devis .form_line .field_path
	{
		float: left;
		height: 25px;
		background: #ffffff;
		margin-right: 18px;
		max-width: 568px;
		width: 73%;
	}
	.pageinterne.recrutement .form_line input[type='file'],
	.pageinterne.devis .form_line input[type='file']
	{
		color: transparent;
		width: 150px;
		height: 35px;
		cursor: pointer;
	}
	.pageinterne.recrutement .form_line input[type='file']::-webkit-file-upload-button,
	.pageinterne.devis .form_line input[type='file']::-webkit-file-upload-button
	{
		visibility: hidden;
		color: transparent;
	}
	.pageinterne.recrutement .form_line input[type='file']:before,
	.pageinterne.devis .form_line input[type='file']:before
	{
		content: 'Parcourir';
		display: inline-block;
		-webkit-user-select: none;
		float: left;
		background: #c8c8c8;
		color: #ffffff;
		width: 150px;
		border: none;
		overflow: hidden;
		margin-right: 18px;
		height: 35px;
		outline: none;
		white-space: nowrap;
		text-align: center;
		line-height: 32px;
		font-weight: bold;
		cursor: pointer;
	}
	.pageinterne.recrutement .form_line input[type='file']:hover:before,
	.pageinterne.devis .form_line input[type='file']:hover:before
	{
		background:#a8a5a5;
	}
.pageinterne.questionnaire
{

}
	.questionnaire .blocks
	{
		float: left;
		width: 100%;
		margin-top: 0px;
		margin-bottom: 30px;
	}
		.questionnaire .form_block
		{
			width: 50%;
			float: left;
		}
		
		.questionnaire .form_block.pair{
			clear : both;
		}
			.pageinterne.questionnaire .formulaire_type .blocks .form_line
			{
				margin-bottom: 0;
				height: 20px;
			}
				.pageinterne.questionnaire .formulaire_type h4 
				{
					padding : 0 10px 0 0;
					margin-top: 30px;
					margin-bottom: 10px;
				}
				.pageinterne.questionnaire .formulaire_type .form_line input[type="radio"] 
				{
					float: left;
					margin-top: 4px;
					margin-right: 8px;
				}
				.pageinterne.questionnaire .formulaire_type .blocks .form_line label{ width: auto; line-height: 20px; }
				.pageinterne.questionnaire .formulaire_type .extra-margin{ margin-bottom: 20px;  }

			.pageinterne.questionnaire .formulaire_type input[type="submit"] 
			{
				margin-top: 40px;
			}

		


/*
	INFINITE SCROLL
*/
#infscr-loading
{
	float: left;
	width: 100%;
}
#infscr-loading img
{
	width: 38px;
	margin-left: 50%;
}
/*
	ACCORDION
*/
.accordion_container
{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
	.accordion_container .box_container
	{
		margin-bottom: 10px;
	}
		.accordion_container .accordion
		{
			background: #dedede;
			padding: 8px 20px 8px 10px;
			font-weight: bold;
			cursor: pointer;
			position : relative;
		}
		.accordion_container .accordion.accordion-close
		{
			/*margin-bottom: 10px;*/
		}
		
			.accordion_container .container
			{
				padding: 14px 20px 14px 20px;
				border: 1px solid #dedede;
				line-height: 20px;
			}
		
.accordion div.collapse-open 
{

}
.accordion div.collapse-close 
{
	
}
.accordion span
{
	position : absolute;
	background: url('../img/global/small_arrow_right.png') center center no-repeat;
	width: 5px;
	height: 9px;
	margin-top: -5px;
	right : 10px;
	top : 50%;
}
.accordion.accordion-open span 
{
	transform:rotate(90deg); 
	-ms-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
}
					
			
.titleBox.centered{
	display : table;
	width : 100%;
}

.leftAside{
	display : table-cell;
	width : 370px;
	vertical-align : top;
}

.rightAside{
	display : table-cell;
	vertical-align : top;
}	

/* Plaquette */
.plaquette{
	text-align : center;
	padding : 50px 0;
	float : left;
	width : 100%;
}




/***********************************************************************************************************************************************************
***********************************************************************************************************************************************************
*********************************************************************************** RESPONSIVE
***********************************************************************************************************************************************************
***********************************************************************************************************************************************************/
.extra-centered
{
	margin: auto;
	overflow: hidden;
	/*text-align: center;*/
}
.savoir-faire .extra-centered
{
	text-align: center;
}
.extra-centered.four-blocks
{
	margin-left: -60px;
}

@media (max-width: 1170px) {
	
	.centered 
	{
		width: 100%;
		padding : 0 10px;
		max-width : auto;
		display : table;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
	.pageinterne{overflow : visible;}
	.double .pageinterne{width : 100%;}
	.pageinterne .centered{padding : 0;}
	
	.content img{
		max-width : 100% !important;
		height : auto !important;
		display : block;
		margin : 10px auto;
		vertical-align : middle;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	
	.menu_principal .menuLeft li 
	{
		
	}
	.menu_principal .menuLeft li
	{
		float: left;
		margin: 0 5px 0 5px;
	}
	.menu_principal .menuMiddle 
	{
		
	}
	.menu_principal .menuRight 
	{
		
	}
	.royalSlider .text_slider h1
	{
		font-size: 35px; 
	}
	.extra-centered
	{
		/*width: 1008px;*/
	}
	section.savoir-faire .centered figure 
	{
		/*margin-right: 58px;*/
	}
	section.savoir-faire .text_explicatif .left 
	{
		width: 79%;
	}
	
	.menu_principal .menuLeft li a { font-size : 11px; }
	
}

@media (max-width: 960px) {

	.menu_principal .menuLeft, 
	.menu_principal .menuRight, 
	.menu_principal .menuMiddle 
	{
		display: none;
	}
	.menu_principal .menuMiddle 
	{
		margin: auto;
		width: 132px;
		height: 30px;
		float: none;
	}
	
	.centered {overflow : visible;}
	.pageinterne{display : block; overflow : visible;}
	.pageinterne .centered{display : block;}
	
	.pageinterne .content
	{
		padding: 40px 10px;
		width: 100%;
		float: none;
		max-width: none;
		display : block;
	}
	.sb-toggle-left 
	{
		display: block;
	}
	.pageinterne aside
	{
		display: none;
	}



	.two-centered{ width: auto; }
	.menu_principal .menuMiddle 
	{
		/*width: 13%;*/
	}
	header .header_top .header_top_right 
	{
		/*margin-right: 12px;*/
	}
	.menu_principal .menuLeft{ width: 68%; }
	
	.menu_principal .menuLeft li 
	{
		margin: 0 0.5% 0 0.5%;
	}
	.menu_principal .menuRight 
	{
		float: right;
		width: 13.2%;
	}
	.royalSlider .text_slider h1
	{
		font-size: 35px; 
	}
	section.savoir-faire .centered figure 
	{
		/*margin-right: 3.8%;*/
	}
	section.savoir-faire .text_explicatif .left 
	{
		width: 73%;
	}
	section.actus-socials .actualites .articles 
	{
		/*width: 664px;*/
	}
	section.actus-socials .actualites .articles article 
	{
		/*width: 328px;*/
	}
	footer .footer_part 
	{
		/*margin-right: 108px;*/
	}
	section.savoir-faire .text_explicatif 
	{
		/*float: left;*/
	}
	footer .footer_left 
	{
		margin-right: 12%;
	}
	section.map 
	{
		height: 260px;
	}
	section.actus-socials .actualites 
	{
		padding: 40px;
	}
	
	.titleBox.centered{
		display : block;
		width : 100%;
	}
	
	.leftAside{
		display : none;
	}
	
	.rightAside{
		display : block;
	}
}

@media (max-width: 952px){
	
	footer
	{
		height: auto;
	}
	footer .footer_part 
	{
		margin: auto;
		margin-bottom: 30px;
		width: 100%;
		float: left;
	}
	footer .footer_left form
	{
		width: 188px;
		margin: auto;
	}
	
}

@media (max-width: 768px) {

	/*.centered 
	{
		width: 758px;
	}*/
	header .header_bottom ul li 
	{
		padding: 0;
		margin: 0px 14px 0px 14px;
	}
	.royalSlider .text_slider h1
	{
		font-size: 30px; 
	}
	.extra-centered
	{
		/*width: 460px;*/
	}
	section.savoir-faire .centered figure.even 
	{
		/*float: right;
		margin-right: 0;*/
	}
	section.savoir-faire .centered figure.odd
	{
		/*float: left;
		margin-right: 0;*/
	}
	
	
	
	section.savoir-faire .text_explicatif .left 
	{
		width: 96%;
	}
	section.savoir-faire .text_explicatif .right 
	{
		width: 100%;
	}
	section.actus-socials .actualites 
	{
		float: none;
		width: 100%;
		padding: 40px;
	}
	section.actus-socials .socials 
	{
		float: none;
		width: 100%;
		height: 866px;
		padding-top: 50px;
		height: 256px;
	}
	section.actus-socials .socials ul
	{
		margin: auto;
		width: 410px;
	}
	section.actus-socials .socials ul li
	{
		margin: 0 10px 50px 10px;
		float: left;
	}
	footer .footer_part 
	{
		margin-right: 8px;
	}
	section.savoir-faire .text_explicatif .left p 
	{
		font-size: 12px;
	}
	section.savoir-faire .text_explicatif .left 
	{
		width: 100%;
	}
	section.devis-enligne 
	{
		margin-top: 10px;
	}
	section.actus-socials .contact p, section.actus-socials .contact a 
	{
		text-align: center;
		font-size: 14px;
	}
	.centered.text_explicatif 
	{
		float: left;
	}
	section.actus-socials .socials 
	{
		width: 100%;
		float: left;
		margin-top: 40px;
	}
	
	.pageinterne .content
	{
		width: auto;
	}
	.pageinterne .articles article .content_article .right 
	{
		padding-left: 0px; 
		width: auto;
		float: none;
	}
	.pageinterne .articles article .content_article .left 
	{
		margin-right: 3%;
	}
	footer h5
	{
		font-size: 13px;
	}
	.pageinterne .formulaire_type .form_line input[type="text"], 
	.pageinterne .formulaire_type .form_line input[type="email"], 
	.pageinterne .formulaire_type .form_line .field_path, 
	.pageinterne .formulaire_type .form_line textarea 
	{
		width: 87%;
	}
	
	.pageinterne .formulaire_type .form_line.post_block input	{	width: 69%;}
	
	.pageinterne.recrutement .form_line .field_path 
	{
		width: 68.2%;
	}
	.pageinterne.recrutement .form_line input[type='file']:before 
	{
		width: 180px;
		margin-right: 0px;
	}
	.pageinterne .articles article .entete .right a.twitter 
	{
		top: -1px;
	}
	.pageinterne .articles article .content_article .left 
	{
		margin-bottom: 2%;
	}

	/*section.savoir-faire p 
	{
		font-size: 12px;
	}*/
	
}

@media (max-width: 740px) {
	.pageinterne.contact .extra-centered {text-align : center;}
	.pageinterne .content h2 , .pageinterne .extra-centered h2 {text-align : center;}
	.pageinterne .formulaire_type .form_line > label {display : block;float : none; min-width: 100%; width: 100%;}
	.block_radio{display : inline-block;}
	.pageinterne .formulaire_type .form_line input[type="text"], 
	.pageinterne .formulaire_type .form_line input[type="email"], 
	.pageinterne .formulaire_type .form_line .field_path, 
	.pageinterne .formulaire_type .form_line textarea,
	.pageinterne .formulaire_type .form_line.post_block
	{width : 100%; max-width: 100%;}
	.pageinterne .formulaire_type .form_line.post_block label.labelMg	{ margin: 0 ;	}
	.pageinterne .formulaire_type input[type="submit"] {float : none;}
	.pageinterne form{padding : 0 10px;}
}

@media (max-width : 550px){
	header .header_top .header_top_right {
		width : 100%;
		float : none;
		text-align : center;
		margin : 25px 0 0;
	}
	
	.header_top_right .recherche input[type="text"] {
		width : auto;
	}
	
	.header_top_right .recherche {
		overflow : hidden;
		display : inline-block;zoom : 1;*display : inline;
		margin : 15px auto 0;
		float : none;
	}
	
	.header_top_right .wrapLanguage {float : none;width : auto;}
	
	.header_top_right .recherche .borders input[type="submit"] {left : 0;}

	.royalSlider .text_slider h1
	{
		font-size: 20px;
	}
	.royalSlider .text_slider p
	{
		/*font-size: 7px;*/
	}
	.royalSlider .text_slider a 
	{
		width: 170px;
		height: 30px;
		line-height: 28px;
		font-size: 8px;
	}
	.extra-centered
	{
		/*width: 206px;*/
	}
	header .header_top 
	{
		height: 210px;
		float: left;
	}
	/*.centered 
	{
		width: 470px;
	}*/
	header .header_top .header_top_left 
	{
		width: 204px;
		height: 80px;
		margin: auto;
		float: none;
	}
	header .header_bottom,
	header .header_top, 
	header .header_bottom ul 
	{
		float: left;
		width: 100%;
	}
	header .header_bottom ul li
	{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	header .header_bottom ul li p{ display: inline-block; font-size: 11px; }
	header .header_bottom{  }
	.menu_principal
	{ 
		float: left; 
		width: 100%;
	}
	section.savoir-faire .centered figure 
	{
		margin-bottom: 10px;
	}
	section.savoir-faire .centered figure.last{ margin-bottom: 40px; }
	section.savoir-faire p 
	{
		font-size: 12px;
	}
	section.actus-socials .actualites .articles 
	{
		width: 100%;
		float: none;
	}
	section.actus-socials .actualites 
	{
		padding: 40px 0 40px 0;
	}
	section.actus-socials .actualites .articles article 
	{
		width: auto;
		margin: auto;
		float: none !important;
		margin-bottom: 40px;
		min-width : auto;
	}
	section.actus-socials .contact h1 
	{
		clear: both;
		width: 250px;
		margin: auto;
		display: block;
		position: static;
	}
	section.map 
	{
		height: 200px;
	}
	
	.pageinterne.recrutement .form_line .field_path 
	{
		width: 56%;
	}
	.pageinterne.recrutement .form_line input[type='file']:before 
	{
		width: 144px;
		margin-right: 0px;
	}
	.pageinterne.recrutement .form_line.special-margin 
	{
		margin-bottom: 30px;
	}
	
	.extra-centered.four-blocks{margin : 0;}
	section.savoir-faire .centered figure {margin : 36px 0 0;}
	section.actus-socials .socials ul {width : auto;text-align : center;}
	section.actus-socials .socials ul li {float : none;display : inline-block;zoom : 1;*display : inline;}
	section.actus-socials .socials {height : auto;}
	
	
	.questionnaire .form_block {float : none; width : 100%;}
	.pageinterne .formulaire_type .form_line {float : none;}
}

@media (max-width: 320px) {
	.inline li.responsive{ display: inline-block; }
	.inline li.unresponsive{ display: none !important; }

	.royalSlider .text_slider h1
	{
		font-size: 20px;
	}
	.extra-centered
	{
		/*width: 206px;*/
	}
	header .header_top 
	{
		float: left;
	}
	/*.centered 
	{
		width: 470px;
	}*/
	header .header_top .header_top_left 
	{
		width: 204px;
		
		margin: auto;
		float: none;
	}
	header .header_top .header_top_right 
	{
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 30px;
	}
	header .header_bottom,
	header .header_top, 
	header .header_bottom ul 
	{
		float: left;
		width: 100%;
	}
	header .header_bottom ul li
	{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.rsDefault .rsArrowIcn
	{
		background-size: 30px 60px !important;
		height: 30px !important;
		width: 30px !important;
	}
	.rsDefault.rsHor .rsArrowLeft
	{
		left: -10px !important;
	}
	.rsDefault.rsHor .rsArrowRight
	{
		right: -10px !important;
	}
	header .header_bottom ul li p{ display: inline-block; }
	header .header_bottom{  }
	.menu_principal
	{ 
		float: left; 
		width: 100%;
	}
	section.devis-enligne h1
	{
		font-size: 12px;
	}
	section.savoir-faire p 
	{
		font-size: 12px;
	}
	section.actus-socials .actualites .articles 
	{
		width: 100%;
		float: left;
	}
	section.actus-socials .actualites 
	{
		padding: 40px 0 40px 0;
	}
	section.actus-socials .actualites .articles article 
	{
		width: 280px;
		margin: auto;
		float: none !important;
		margin-bottom: 40px;
	}
	section.actus-socials .contact h1 
	{
		clear: both;
		width: 230px;
		padding-top: 20px;
		margin-bottom: 20px;
		margin: auto;
		display: block;
		position: static;
	}
	section.actus-socials .socials 
	{
		padding-top: 20px;
	}
	section.actus-socials .socials li
	{
		width: 80px;
		height: 80px;
		margin-right: 64px;
		text-indent: -9999px;
	}
	section.actus-socials .socials li a
	{
		top: 35%;
	}
	
	section.actus-socials .socials li.facebook a
	{
		height: 20px;
		background-size: 9px 40px;
	}
	section.actus-socials .socials li.twitter a
	{
		height: 20px;
		background-size: 25px 40px;
	}
	section.actus-socials .socials li.youtube a
	{
		height: 20px;
		background-size: 18px 40px;
	}
		
	footer
	{
		height: auto;
	}
	footer .footer_part 
	{
		margin: auto;
		margin-bottom: 30px;
		width: 100%;
		float: left;
	}
	footer .footer_left form
	{
		width: 188px;
		margin: auto;
	}
	.pageinterne.recrutement .form_line .field_path 
	{
		width: 60%;
		margin-right: 6px;
	}
	.pageinterne.recrutement .form_line input[type='file']{ width: 80px; }
	.pageinterne.recrutement .form_line input[type='file']:before 
	{
		width: 80px;
		margin-right: 0px;
		appearance: none;
		-moz-appearance :none;
		-webkit-appearance: none;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	.pageinterne.recrutement .form_line.special-margin 
	{
		margin-bottom: 30px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape){
	/*.centered 
	{
		width: 958px;
	}*/
	.pageinterne .centered{ padding:0; width: 100% }
	.two-centered{ width: auto; }
	.menu_principal .menuMiddle 
	{
		width: 13%;
	}
	header .header_top .header_top_right 
	{
		/*margin-right: 12px;*/
	}
	.menu_principal .menuLeft{ width: 70%; }
	
	.menu_principal .menuLeft li 
	{
		margin: 0 0.5% 0 0.5%;
	}
	.menu_principal .menuRight 
	{
		float: right;
		width: 13.2%;
	}
	.royalSlider .text_slider h1
	{
		font-size: 35px; 
	}
	section.savoir-faire .centered figure 
	{
		margin-right: 6%;
	}
	section.savoir-faire .text_explicatif .left 
	{
		width: 73%;
	}
	section.actus-socials .actualites .articles 
	{
		width: 98%;
	}
	section.actus-socials .actualites .articles article 
	{
		/*width: 328px;*/
	}
	section.savoir-faire .text_explicatif .left 
	{
		width: 78%;
	}
	section.savoir-faire .text_explicatif .left p 
	{
		max-width: 890px;
	}
	section.savoir-faire .text_explicatif .right
	{
		width: 20%;
	}
	footer .footer_part 
	{
		/*margin-right: 108px;*/
	}
	section.savoir-faire .text_explicatif 
	{
		/*float: left;*/
	}
	footer .footer_left 
	{
		margin-right: 12%;
	}
	section.map 
	{
		height: 260px;
	}
	section.actus-socials .actualites 
	{
		padding: 40px;
	}
	.pageinterne.recrutement .form_line .field_path 
	{
		width: 65%;
	}
	.pageinterne.recrutement .form_line input[type='file']:before 
	{
		width: 155px;
		margin-right: 0px;
		appearance: none;
		-moz-appearance :none;
		-webkit-appearance: none;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	.pageinterne .articles article .content_article .right 
	{
		padding-left: 2.1%;
	}

}


.white-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    position: relative;
    width: auto;
}

.error+label{
	background : #FFBABA;
}

.plaquette a.arrow_right{
	width: 230px;
	height: 40px;
	background: #333;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	line-height: 40px;
	margin-top: 36px;
}

.plaquette a.arrow_right:after {
    right: 3%;
}