/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;overflow : hidden;}
#cboxLoadedContent{overflow:hidden;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: #fff;}
#colorbox{}
/*    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
 */   #cboxContent{overflow:hidden;}
       #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{position : relative;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:45%; left:20px; background:url(images/prev.png) no-repeat top left; width:19px; height:37px; text-indent:-9999px;}
        #cboxPrevious.hover{background:url(images/prevHover.png) no-repeat top left;}
        #cboxNext{position:absolute; top:45%; right:20px; background:url(images/next.png) top left; width:20px; height:37px; text-indent:-9999px;}
        #cboxNext.hover{background:url(images/nextHover.png) top left;}
  /*      #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
   */     #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
	      #cboxClose{display:none;position:absolute; top:10px; right:0; background:url(images/close.png) no-repeat top left; width:14px; height:14px; text-indent:-9999px;}
        #cboxClose.hover{display:none;background:url(images/closeHover.png) no-repeat top left;}

